html{
  margin-right:0;
}
body {
  margin-right: 0px;
  padding: 0px;
  text-align: center;
}
#latam_logo{
  width: 80%;
  margin-right: -150px;
}
.primer_bloque{
  padding: 50px;
  background-image: url(images/bg.jpeg);
  height: 80vh;
  color: white;
  text-align: center;
}
h1, h3{
  text-transform: uppercase;
}

.primer_bloque_b{
  margin-top: 50px;
}

.bluebottom, .greenbottom{
  text-align: center;
  margin: 6px;
  border-radius: 10px;
  width: 120px;
  background-color: #3079b7;
}
.greenbottom{
  background-color: #5bb95a;
  width: 80px;
}

.segundo_bloque{
  height: 80vh;
  padding: 40px;
  margin-bottom: 15vh;
}
.jumbotron p{
  font-size: 10px;
}
#feliz{
  max-width: 50%
}

.cuarto_bloque{
  height: 60vh;
  text-align: left;
}
.footer{
  background-color: #4a4a4a;
  color: black;
  margin-bottom: 0;
}
